groq==0.30.0
langchain==0.3.26
langchain-groq==0.3.6
openai==1.97.0
python-dotenv==1.1.1
streamlit==1.46.1
streamlit-authenticator==0.4.2
streamlit-extras==0.6.0
streamlit-float==0.3.5
streamlit_chat_widget==0.2.0
langgraph
requests
beautifulsoup4
streamlit-aggrid
streamlit_chat
